* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background: #fcfdff;
  font-family: "Roboto", sans-serif;
}

.btn {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  border-radius: 4px;
  display: flex;
}
.btn:focus {
  background: #f2f4f5;
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #f2f4f5;
  box-shadow: 0 2px 7.2px 0 rgba(0, 0, 0, 0.25),
    0 0.6px 2.8px 0 rgba(0, 0, 0, 0.2);
}
.btn:active {
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
}

/*
----------
Left menu 
----------
*/
.sidebar {
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 60px;
  background: #fff;
  flex-direction: column;
  border-right: 1px solid #ddd;
  /* box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108); */
  transition: 0.11s;
  -webkit-transition-property: max-width;
  -moz-transition-property: max-width;
  -o-transition-property: max-width;
  transition-property: max-width;
  /* -webkit-transform: translateX(-100%);
          transform: translateX(-100%); */
}
.sidebar-active .sidebar {
  max-width: 240px;
}
.sidebar_hd {
  width: 100%;
  height: 50px;
  display: flex;
  max-width: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.sidebar-active .sidebar_hd {
  max-width: 240px;
  align-items: center;
}
.sidebar_hd-user {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: hsl(200, 13%, 95%);
  padding: 0 5px;
  overflow: hidden;
  margin-left: 10px;
}
.sidebar_hd-user--img {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.sidebar_hd-user--txt {
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}
/* .sidebar_hd--inp {
  width: 168px;
  height: 34px;
  border-radius: 2px;
  background: #f2f4f5;
  border: 1px solid #ddd;
  outline: none;
  padding: 8px 6px;
  display: none;
} */
/* .sidebar_hd--inp:active,
.sidebar_hd--inp:focus {
  background: #fff;
} */
.sidebar-active .sidebar_hd--inp {
  display: flex;
}
.sidebar_hd--btn {
  height: 34px;
  width: 38px;
  min-width: 38px;
  padding: 10px 6px;
  border: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.sidebar_hd--btn span {
  height: 2px;
  width: 20px;
  background: #333;
  margin-bottom: 4px;
}
.sidebar_bd {
  width: 100%;
  padding: 10px 10px 0 10px;
  flex-direction: column;
}
.sidebar_bd-photo {
  overflow: hidden;
  width: 100%;
  max-width: 38px;
  height: 120px;
  margin: 0 auto;
  transition: 0.11s;
}
.sidebar-active .sidebar_bd-photo {
  max-width: 120px;
  max-height: 120px;
}
.sidebar_bd-photo img {
  width: 100%;
  height: 100%;
  max-height: 38px;
  max-width: 38px;
  border-radius: 50%;
  transition: 0.11s;
  border: 1px solid #ddd;
}
.sidebar-active .sidebar_bd-photo img {
  max-width: 120px;
  max-height: 120px;
}

.sidebar_bd--name {
  height: 40px;
  font-size: 14px;
  overflow: hidden;
  font-weight: 600;
  margin: 10px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  transition: 0.03s;
  visibility: hidden;
}
.sidebar-active .sidebar_bd--name {
  visibility: visible;
}

.sidebar_bd-btns {
  margin-top: 20px;
}
.sidebar_bd-btn {
  height: 40px;
  width: 100%;
  padding: 13px;
  margin: 5px 0 10px;
  overflow: hidden;
  font-size: 13px;
}
.sidebar_bd-btn .icon {
  margin-right: 14px;
}
.sidebar-active .sidebar_bd-btn .icon {
  margin-right: 10px;
}
.sidebar_bd-btn .txt {
  height: 14px;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

/*
----------
Menu 
----------
*/
.menu {
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  transition: 0.11s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--title {
  font-size: 14px;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}
.menu--inp {
  width: 240px;
  height: 34px;
  border-radius: 2px;
  background: #f2f4f5;
  border: 1px solid #ddd;
  outline: none;
  padding: 8px 6px;
}
.menu--inp:active,
.menu--inp:focus {
  background: #fff;
}

/*
----------
Body content 
----------
*/
.cnt {
  /* position: absolute; */
  left: 60px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  max-width: 1180px;
  transition: 0.11s;
  flex-direction: column;
}
.sidebar-active .cnt,
.sidebar-active .menu {
  left: 240px;
}
/* .cnt_hd {
  padding: 0 10px;
  height: 80px;
  display: flex;
} */
/* .cnt_hd--title {
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  line-height: 1;
  display: flex;
} */
.cnt_bd {
  padding: 20px 10px;
}
.cnt_bd-tests {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.cnt_bd-tests--item {
  width: 100%;
  height: 100px;
  padding: 18px 14px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 40px;
  -moz-user-select: none;
  -moz-user-select: none;
}
.cnt_bd-tests--item:hover {
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}
.cnt_bd-tests--item-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nt_bd--test--item2 {
  margin-left: 10px;
}
.cnt_bd-tests--item-col--title {
  font-size: 16px;
  min-height: 20px;
  max-height: 40px;
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.cnt_bd-tests--item-col--dsc,
.cnt_bd-tests--item-col--date {
  color: #8e8e8e;
  font-size: 14px;
}
.cnt_bd-tests--item-col--date {
  font-size: 12px;
}

@font-face {
  font-family: "tedgent";
  src: url("../fonts/tedgent.eot?8eq6kp");
  src: url("../fonts/tedgent.eot?8eq6kp#iefix") format("embedded-opentype"),
    url("../fonts/tedgent.ttf?8eq6kp") format("truetype"),
    url("../fonts/tedgent.woff?8eq6kp") format("woff"),
    url("../fonts/tedgent.svg?8eq6kp#tedgent") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"],
[class*=" i-"] {
  font-family: "tedgent" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-moon:before {
  content: "\e919";
}
.i-user:before {
  content: "\e91a";
}
.i-text:before {
  content: "\e904";
}
.i-number:before {
  content: "\e911";
}
.i-arrow-left:before {
  content: "\e900";
}
.i-arrow-right:before {
  content: "\e901";
}
.i-bell:before {
  content: "\e902";
}
.i-bold:before {
  content: "\e903";
}
.i-checkbox:before {
  content: "\e905";
}
.i-clip:before {
  content: "\e906";
}
.i-cross:before {
  content: "\e907";
}
.i-decoration:before {
  content: "\e908";
}
.i-door-close:before {
  content: "\e909";
}
.i-door-open:before {
  content: "\e90a";
}
.i-file:before {
  content: "\e90b";
}
.i-file-add:before {
  content: "\e90c";
}
.i-italic:before {
  content: "\e90d";
}
.i-minus:before {
  content: "\e90e";
}
.i-more:before {
  content: "\e90f";
}
.i-more-hor:before {
  content: "\e910";
}
.i-picture:before {
  content: "\e912";
}
.i-plus:before {
  content: "\e913";
}
.i-radiobox:before {
  content: "\e914";
}
.i-search:before {
  content: "\e915";
}
.i-search-minus:before {
  content: "\e916";
}
.i-search-plus:before {
  content: "\e917";
}
.i-settings-1:before {
  content: "\e918";
}
