.dark-theme {
  background-color: hsla(204, 13%, 10%, 1);
  color: hsl(207, 63%, 54%);
}

.dark-theme .bd_bcg-1,
.dark-theme .bd_bcg-2,
.dark-theme .bd_bcg-3,
.dark-theme .bd_bcg-4,
.dark-theme .bd_bcg-5,
.dark-theme .bd_bcg-6 {
  background-color: hsla(204, 13%, 10%, 0.45);
}

.dark-theme .btn,
.dark-theme .inp,
.dark-theme .select_hd,
.dark-theme .test-create_bd-select_hd,
.dark-theme .test_create_bd-question--select_hd,
.dark-theme .subject-bcg-0,
.dark-theme .test-create_bd-attachments-label,
.dark-theme .menu_bd-search--inp,
.dark-theme .menu_bd-search--inp:focus {
  color: #ddd;
  background: hsl(206, 14%, 10%);
  border-color: hsla(204, 13%, 15%, 1);
}

.dark-theme .menu,
.dark-theme .sidebar,
.dark-theme .sidebar_bd-btn,
.dark-theme .sidebar_bd-small-btn,
.dark-theme .cnt_bd-tests--item,
.dark-theme .cnt_bd-tests-menu--date,
.dark-theme .select_bd-option,
.dark-theme .cnt_bd-testcreate,
.dark-theme .more-menu-list--btn,
.dark-theme .more-menu-list::after,
.dark-theme .tests--item-col-raiting-stars,
.dark-theme .cnt_bd-test,
.dark-theme .test_hd-dsc,
.dark-theme .cnt_bd-settings,
.dark-theme .pivot-menu {
  background: hsla(204, 13%, 15%, 1);
  border-color: hsl(206, 14%, 10%);
}

.dark-theme .btn,
.dark-theme .link,
.dark-theme .menu_bd--title,
.dark-theme .menu--title > a,
.dark-theme .sidebar_hd-user-col1--txt,
.dark-theme .sidebar_hd-user-col2--item,
.dark-theme .cnt_bd-tests-menu--date,
.dark-theme .select_bd-option,
.dark-theme .more-menu-list--btn,
.dark-theme .test_hd-title--description,
.dark-theme .test-question_hd--title,
.dark-theme .test-question-answer,
.dark-theme .test-result_bd {
  color: #ddd;
}

.dark-theme .btn:hover,
.dark-theme .btn:focus,
.dark-theme .select_bd-option:hover,
.dark-theme .select_bd-option:active,
.dark-theme .select_bd-option:focus,
.dark-theme .more-menu-list--btn:hover,
.dark-theme .more-menu-list--btn:active,
.dark-theme .more-menu-list--btn:focus,
.dark-theme .message {
  background: hsl(206, 14%, 10%);
  color: hsl(207, 63%, 54%);
}

.dark-theme .btn-disable {
  cursor: default;
}

.dark-theme .btn-disable:hover,
.dark-theme .btn-disable:active,
.dark-theme .btn-disable:focus {
  color: #ddd;
  box-shadow: none;
}

.dark-theme .btn-1 {
  color: #ddd;
  background: hsla(207, 63%, 35%, 1);
}
.dark-theme .btn-1:hover,
.dark-theme .btn-1:focus,
.dark-theme .btn-1:active {
  color: #ddd;
  background: hsla(207, 63%, 35%, 0.9);
}

.dark-theme .sidebar_hd-user,
.dark-theme .sidebar_hd--btn {
  background: hsla(207, 63%, 35%, 1);
}
.dark-theme .sidebar_hd--btn span {
  background: #ddd;
}
.dark-theme .sidebar_hd--btn:hover span {
  background: #3f91d4;
}

.dark-theme .cnt_hd--title,
.dark-theme .label-txt {
  color: #8e8e8e;
}

.dark-theme .test_hd-dsc-time--value,
.dark-theme .tests--item-col--title > .link,
.dark-theme .test-result-short-row--value,
.dark-theme .test-result-user,
.dark-theme .test-attachments-file,
.dark-theme .test-attachments-file .link,
.dark-theme .test_hdr-time--value,
.dark-theme .test-question-answer-active .test_create_bd-question-answer--inp {
  color: hsl(207, 63%, 54%);
}

.dark-theme .test-create-attachments-file .delete {
  background: transparent;
}
.dark-theme .toggle--btn,
.dark-theme .test_bd,
.dark-theme .test_hdr {
  border-color: hsl(206, 14%, 10%);
}

.dark-theme .pivot-menu--btn,
.dark-theme .test_create_bd-question-col1-row--btn,
.dark-theme .test_create_bd-question-answer--btn {
  background: hsla(204, 13%, 15%, 1);
}

.dark-theme .test-create_bd-keywords-label--inp .keyword {
  color: hsl(207, 63%, 54%);
  background: hsla(207, 63%, 54%, 0.1);
}

.dark-theme .test-question-answer-checkbox--inp + label::before,
.dark-theme .test-question-answer-radio--inp + label::before {
  border-color: hsl(206, 14%, 10%);
  background-color: hsl(206, 14%, 10%);
}

.dark-theme .test_create_bd-question-deleted-mess {
  color: #ddd;
}

.dark-theme
  .test-question-answer-checkbox--inp:not(:disabled):active
  + label::before,
.dark-theme
  .test-question-answer-radio--inp:not(:disabled):active
  + label::before {
  background-color: hsl(206, 14%, 10%);
}
.dark-theme .test-question-answer-checkbox--inp:checked + label::before,
.dark-theme .test-question-answer-radio--inp:checked + label::before {
  border-color: hsl(207, 63%, 54%);
  background-color: hsl(207, 63%, 54%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.dark-theme .more-menu-list--btn:hover {
  color: #ddd;
  background: hsla(204, 13%, 15%, 1);
}

.dark-theme .raiting-star {
  color: hsla(204, 13%, 15%, 1);
}
