.night-mode {
  background: hsla(204, 13%, 10%, 1);
  color: #3f91d4;
}

.night-mode .btn,
.night-mode .sidebar,
.night-mode .menu,
.night-mode .cnt_bd-tests--item,
.night-mode .cnt_bd-tests-menu--date,
.night-mode .select_hd,
.night-mode .select_bd-option,
.night-mode .cnt_bd-testcreate,
.night-mode .more-menu-list--btn,
.night-mode .more-menu-list::after {
  background: hsla(204, 13%, 15%, 1);
  border-color: hsla(204, 14%, 15%, 1);
}

.night-mode .btn,
.night-mode .menu_bd--title,
.night-mode .menu--title > a,
.night-mode .sidebar_hd-user-col1--txt,
.night-mode .sidebar_hd-user-col2--item,
.night-mode .cnt_bd-tests-menu--date,
.night-mode .select_hd,
.night-mode .select_bd-option,
.night-mode .more-menu-list--btn {
  color: #ddd;
}

.night-mode .btn:hover,
.night-mode .btn:focus,
.night-mode .select_bd-option:hover,
.night-mode .select_bd-option:active,
.night-mode .select_bd-option:focus,
.night-mode .more-menu-list--btn:hover,
.night-mode .more-menu-list--btn:active,
.night-mode .more-menu-list--btn:focus {
  background: hsl(206, 14%, 10%);
  color: #3f91d4;
}

.night-mode .sidebar_hd-user {
  background: hsla(207, 63%, 35%, 1);
}

.night-mode .sidebar_hd--btn {
  background: hsla(207, 63%, 35%, 1);
}
.night-mode .sidebar_hd--btn span {
  background: #ddd;
}
.night-mode .sidebar_hd--btn:hover span {
  background: #3f91d4;
}
.night-mode .menu_bd-search--inp,
.night-mode .menu_bd-search--inp:focus {
  color: #ddd;
  background: hsl(206, 14%, 10%);
  border-color: hsla(204, 14%, 15%, 1);
}
.night-mode .cnt_bd-testcreate_bd-select_hd {
  background: #141c24;
}

.night-mode .cnt_hd--title {
  color: #8e8e8e;
}

.night-mode .tests--item-col--title > .link {
  color: #3f91d4;
}
