.cnt_bd-search {
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding-bottom: 20px;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}
.search_hd {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .search_hd {
    padding: 20px 10px;
  }
}
.search_hd-inp_wr {
  display: flex;
  flex-direction: row;
  max-width: 730px;
  margin: auto;
  margin-bottom: 15px;
}
.search_hd--inp {
  height: 44px;
  border-radius: 4px 0 0 4px;
}
.search_hd-inp--btn {
  padding: 0 22px;
  height: 44px;
  border-radius: 0 4px 4px 0;
}
.search_hd-filter {
  display: flex;
  justify-content: flex-end;
  max-width: 730px;
  width: 100%;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .search_hd-filter {
    flex-wrap: wrap;
  }
}
.search_hd-filter--discard {
  padding: 0 12px;
}
.search_hd-filter-subject,
.search_hd-filter-date {
  margin-left: 20px;
}
.search_hd-filter-date {
  max-width: 116px;
  min-width: 116px;
}
@media only screen and (max-width: 767px) {
  .search_hd-filter--discard,
  .search_hd-filter-subject,
  .search_hd-filter-date {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.search_bd {
  padding: 30px 15px;
}
@media only screen and (max-width: 767px) {
  .search_bd {
    padding: 20px 10px;
  }
}
.search-result-users {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  max-height: 500px;
  overflow-y: auto;
  display: none;
}
.search-result-users-active {
  display: block;
}
.search-result-user {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
}
.search-result-user--img,
.search-result-test-logo {
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  box-shadow: 0 2px 7.2px 0 rgba(0, 0, 0, 0.25),
    0 0.6px 2.8px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 767px) {
  .search-result-user--img,
  .search-result-test-logo {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
  }
}
.search-result-tests {
  max-height: 990px;
  overflow-y: auto;
  display: none;
}
.search-result-tests-active {
  display: block;
}
.search-result-test {
  padding: 15px 10px;
  width: 100%;
  max-height: 150px;
  min-height: 90px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .search-result-test,
  .search-result-user {
    height: 70px;
    min-height: 70px;
    padding: 10px 5px;
  }
}
.search-result-test-logo {
  border-radius: 12px;
  font-size: 30px;
  line-height: 60px;
}
@media only screen and (max-width: 767px) {
  .search-result-test-logo {
    font-size: 25px;
    line-height: 50px;
    border-radius: 8px;
  }
}
.search-result-test-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  flex-grow: 1;
}
@media only screen and (max-width: 767px) {
  .search-result-test-info {
    margin-left: 10px;
  }
}
.search-result-test-info--title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .search-result-test-info--title {
    font-size: 14px;
  }
}
.search-result-test-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  color: #8e8e8e;
}
