.cnt_bd-settings {
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding-bottom: 20px;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}

.settings_hd {
  width: 100%;
}
.settings_hd-menu {
  padding: 0 15px;
}
.settings_hd-menu--btn {
  height: 42px;
  margin-right: 15px;
}

.settings_bd {
  padding: 25px 20px;
}

.settings-acc-info-label,
.settings-acc-security-label,
.settings-service-appearance-label {
  max-width: 240px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.settings-save--btn {
  padding: 0 12px;
  align-self: flex-end;
}

.settings-service-appearance-label {
  max-width: 300px;
}
.settings-service-appearance-bcgds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.settings-service-appearance-bcg {
  overflow: hidden;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-bottom: 10px;
}
.settings-service-appearance-bcg--img {
  max-height: 80px;
}
.settings-service-appearance-bcg-toggle {
  margin-bottom: 10px;
}