.test-result_hd {
  border-radius: 0;
}
.test-result_bd {
  display: flex;
}
.test-result-short {
  margin-bottom: 40px;
}
.test-result-short-row {
  display: flex;
  margin-bottom: 8px;
}
.test-result-short-row--value {
  margin-left: 10px;
  font-weight: 600;
}
.test-result-short_bd {
  padding: 0 15px;
}
.test-result-users {
  width: 100%;
}
.test-result-users_hdr {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.test-result-users_hd {
  display: flex;
  justify-content: flex-end;
}
.test-result-users_hd-alphabet-sort {
  padding: 0 12px;
  background: hsla(200, 13%, 93%, 1);
}
.test-result-users_hd-questions-sort {
  max-width: 160px;
}
.test-result-users_hd-date {
  max-width: 142px;
}
.test-result-users_hd-alphabet-sort,
.test-result-users_hd-questions-sort,
.test-result-users_hd-date {
  margin-left: 20px;
}
.test-result-users_bd {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 600px;
  padding: 0 15px;
}
.test-result-user {
  display: flex;
  height: 60px;
  width: 100%;
  background: hsla(207, 63%, 54%, 0.1);
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.test-result-user-info {
  width: 50%;
  min-width: 200px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.test-result-user-info--img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
.test-result-user-info-name {
  margin-left: 10px;
}
.test-result-user--questions,
.test-result-user--time,
.test-result-user--date {
  font-weight: 600;
  padding: 0 5px;
}
.test-result-user--questions .slash,
.test-result-user--time .unit {
  font-weight: 500;
}
