/*
----------
Test create page 
----------
*/
.test-create_bd {
  display: flex;
  padding-top: 0;
}
.test-create_hd {
  min-height: 100%;
  max-height: 100%;
}
.test-create_hd-info {
  padding: 15px;
}
.test-create_hd-title-label.first {
  margin-bottom: 20px;
}
.test-create_bd-label_select {
  width: 100%;
  max-width: 220px;
}
.test-create_bd-subject,
.test-create_bd-time,
.test-create_bd-keywords {
  margin-top: 20px;
}
.test-create_bd-keywords-label {
  width: 100%;
}
.test-create_bd-keywords-label--inp .keyword {
  padding: 2px 6px;
  background: hsl(0, 0%, 87%);
  margin: 0 4px;
  border-radius: 4px;
}
.test-create_bd-attachments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.test-create_bd-attachments-label {
  max-width: 120px;
  background: hsla(200, 13%, 93%, 1);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
@media only screen and (max-width: 767px) {
  .test-create_bd-attachments-label {
    max-width: 110px;
  }
}
.test-create_bd-attachments-label--inp {
  display: none;
}
.test-create_bd-attachments-files {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.test_create_bd-questions {
  margin-top: 60px;
}
.test-question,
.test_create_bd-question {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
.test_create_bd-question-deleted .test_create_bd-question_bd {
  display: none;
}
.test_create_bd-question-deleted-mess {
  display: flex;
  color: #333;
  background: hsla(207, 63%, 54%, 0.1);
  border-radius: 4px;
  padding: 15px 20px;
  line-height: 16px;
}
.test_create_bd-question-deleted-mess--time {
  font-weight: 600;
}
.test_create_bd-question-deleted-mess--btn {
  outline: none;
  margin-left: 12px;
  color: hsl(207, 63%, 54%);
  height: 14px;
}
.test_create_bd-question-deleted-mess--btn:hover,
.test_create_bd-question-deleted-mess--btn:active,
.test_create_bd-question-deleted-mess--btn:focus {
  color: hsla(207, 63%, 54%, 0.7);
  border-bottom: 1px solid;
}
.test_create_bd-question_bd {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .test_create_bd-question_bd {
    flex-direction: column-reverse;
  }
}
.test_create_bd-question-title--inp {
  height: 36px;
  max-height: 72px;
  resize: none;
  line-height: 14px;
}
@media only screen and (max-width: 1000px) {
  .test_create_bd-question-title--inp {
    min-width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-title--inp {
    min-width: auto;
  }
}
.test_create_bd-question-col1 {
  width: 100%;
  max-width: 620px;
}
@media only screen and (max-width: 1000px) {
  .test_create_bd-question-col1 {
    min-width: 100%;
  }
}
.test_create_bd-question-col1-row {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.test_create_bd-question-col1-row--btn {
  padding: 0 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-col1-row--btn {
    margin-right: 5px;
  }
}
.test_create_bd-question-col1-row-image {
  display: none;
}
.test_create_bd-question-image-active .test_create_bd-question-col1-row-image {
  display: flex;
}
.test_create_bd-question-col1-image {
  margin-left: 43px;
  position: relative;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-col1-image {
    margin-left: 38px;
  }
}
.test_create_bd-question-img--del-btn {
  height: 34px;
  width: 34px;
  position: absolute;
  right: 0;
  justify-content: center;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.4);
  border-radius: 0;
  color: #fff;
}
.test_create_bd-question-img--del-btn:hover,
.test_create_bd-question-img--del-btn:focus,
.test_create_bd-question-img--del-btn:active {
  background: hsla(0, 0%, 0%, 0.6);
  color: #fff;
}

.test_create_bd-question--img {
  max-width: 577px;
  max-height: 300px;
  border-radius: 4px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question--img {
    max-width: 300px;
  }
}
.test_create_bd-question-answers {
  padding-left: 44px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-answers {
    padding-left: 0;
  }
}
.test-question-answer,
.test_create_bd-question-answer {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.test-question-answer-active .test_create_bd-question-answer--inp {
  font-weight: 600;
}
.test_create_bd-question-answer--btn {
  padding: 0 10px;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-answer--btn {
    margin-left: 5px;
  }
}
.test_create_bd-question-col1-row-add-answer {
  display: flex;
  padding-right: 44px;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-col1-row-add-answer {
    padding-right: 38px;
  }
}
.test_create_bd-question-col2 {
  margin-left: 20px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .test_create_bd-question-col2 {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 360px) {
  .test_create_bd-question-col2 {
    flex-direction: column;
    align-items: flex-end;
  }
}
.test_create_bd-question-col2--btn {
  padding: 11px 12px;
  background: hsla(200, 13%, 93%, 1);
}
@media only screen and (max-width: 360px) {
  .test_create_bd-question-col2--btn {
    margin-bottom: 10px;
  }
}
.test_create_bd-question-col2--inp {
  display: none;
}
.test_create_bd-question--select {
  max-width: 230px;
  min-width: 230px;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question--select {
    max-width: 205px;
    min-width: 205px;
  }
}
.test_create_bd-question--select-option--icon,
.question-add-col2--select-option-icon {
  width: 18px;
  font-size: 16px;
  margin-right: 8px;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question--select-option--icon,
  .question-add-col2--select-option-icon {
    font-size: 14px;
  }
}
.test_create_bd-question-add {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 620px;
}
@media only screen and (max-width: 1000px) {
  .test_create_bd-question-add {
    max-width: 100%;
  }
}
.test_create_bd-question-add-button {
  position: relative;
  display: flex;
}
.test_create_bd-question-add--btn,
.test_create_bd-question-answer-add--btn {
  font-size: 13px;
  height: 32px;
  padding: 0 12px;
}
@media only screen and (max-width: 1000px) {
  .test_create_bd-question-add--btn,
  .test_create_bd-question-answer-add--btn {
    font-size: 12px;
  }
}
.test_create_bd-question-add--btn .txt,
.test_create_bd-question-answer-add--btn .txt {
  margin-left: 6px;
}
.test_create_bd-question-add--btn .txt {
  margin: 0 6px;
}
.test_create_bd-question-add--btn {
  border-radius: 4px 0 0 4px;
  padding-right: 4px;
  z-index: 2;
}
.test_create_bd-question-add--btn:hover {
  position: relative;
  z-index: 3;
}
.test_create_bd-question-add--btn-more {
  height: 32px;
  padding: 0 8px;
  border-radius: 0 4px 4px 0;
  background: hsla(200, 13%, 93%, 1);
  z-index: 2;
}
.test_create_bd-question-add--btn-more-list {
  position: absolute;
  right: -180px;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 160px;
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 13px;
  z-index: 1;
}
.test_create_bd-question-add--btn-more-list::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 10px;
  height: 10px;
  box-shadow: 0 0.3px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 10px;
  left: -5px;
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-add--btn-more-list::after {
    top: -5px;
    right: 9px;
    left: auto;
  }
}
@media only screen and (max-width: 767px) {
  .test_create_bd-question-add--btn-more-list {
    width: 150px;
    top: 48px;
    left: 0;
    right: 0;
  }
}
.question-add--btn-more-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .question-add--btn-more-list-item {
    height: auto;
  }
}
.question-add-btn-more {
  width: 280px;
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.question-add-btn-more--inp,
.question-add-btn-more--select {
  width: 34px;
}
@media only screen and (max-width: 767px) {
  .question-add-btn-more--inp,
  .question-add-btn-more--select {
    width: 32px;
  }
}
.test_create_bd-question-add-btn--more-active .question-add-btn-more--inp,
.test_create_bd-question-add-btn--more-active .question-add-btn-more--select {
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
}
.question-add-btn-more--select-value,
.question-add-btn-more--select-option {
  padding: 0;
  justify-content: center;
}
.question-add-btn-more--select-option--icon {
  margin: 0;
  font-size: 13px;
}
.question-add-btn-more--inp {
  text-align: center;
  -moz-appearance: textfield;
}
.question-add-btn-more--inp::-webkit-outer-spin-button,
.question-add-btn-more--inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
