/*
----------
Tests list in the tests page 
----------
*/
.cnt_bd-tests,
.cnt_bd-test-create {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.cnt_bd-tests-menu--date {
  background: #f2f4f5;
  min-width: 142px;
  max-width: 142px;
}
@media only screen and (max-width: 390px) {
  .cnt_bd-tests-menu--date {
    min-width: 160px;
    max-width: 160px;
  }
}
.cnt_bd-tests-menu--select {
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .cnt_bd-tests-menu--select {
    margin-right: 10px;
    min-width: 160px;
  }
}
@media only screen and (max-width: 390px) {
  .cnt_bd-tests-menu--select {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 150px;
  }
}
.cnt_bd-tests-menu--select-option--square,
.test-create_bd-select-option--square {
  height: 18px;
  width: 18px;
  border-radius: 4px;
  margin-right: 8px;
}
@media only screen and (max-width: 767px) {
  .cnt_bd-tests-menu--select-option--square,
  .test-create_bd-select-option--square {
    display: none;
  }
}
.cnt_bd-tests--item {
  width: 100%;
  max-height: 150px;
  min-height: 112px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  margin-bottom: 40px;
  -moz-user-select: none;
  display: flex;
  padding: 15px;
}
@media only screen and (max-width: 767px) {
  .cnt_bd-tests--item {
    height: auto;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 15px;
    max-height: 100px;
  }
}
@media only screen and (max-width: 390px) {
  .cnt_bd-tests--item {
    padding: 5px;
  }
}
.cnt_bd-tests--item:hover {
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}
.tests--item-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .tests--item-col {
    margin-right: 10px;
  }
}
.cnt_bd-tests--item > .col2 {
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .cnt_bd-tests--item > .col2 {
    min-width: 134px;
  }
}
.cnt_bd-tests--item > .col3 {
  margin-right: 0;
  align-items: flex-end;
}
.tests--item-col--subject,
.test-subject-logo {
  min-height: 80px;
  min-width: 80px;
  line-height: 80px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .tests--item-col--subject {
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    line-height: 36px;
  }
}
.tests--item-col--title {
  max-height: 35px;
  min-height: 26px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .tests--item-col--title {
    min-height: 18px;
    padding-bottom: 5px;
  }
}
.tests--item-col--title > .link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .tests--item-col--title > .link {
    font-size: 12px;
  }
}
.tests--item-col--title > .link:hover {
  text-decoration: underline;
}
.tests--item-col--dsc {
  color: #333;
}
@media only screen and (max-width: 767px) {
  .tests--item-col--dsc {
    font-size: 11px;
  }
}
.tests--item-col-raiting {
  position: relative;
  display: flex;
  font-size: 12px;
  padding-top: 8px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .tests--item-col-raiting {
    padding: 4px 0;
    font-size: 11px;
  }
}
.tests--item-col-raiting-stars {
  height: 11px;
  display: flex;
  direction: rtl;
  max-width: 80px;
  margin-right: 6px;
  position: relative;
  background: #ddd;
  overflow: hidden;
}
.tests--item-col-raiting-stars--scale {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: hsla(54, 100%, 50%, 1);
}
.tests--item-col-raiting-stars--star {
  cursor: pointer;
  background: #ddd;
  position: relative;
  color: #fff;
  height: 11px;
  width: 11px;
  overflow: hidden;
}
.tests--item-col-raiting-stars--star:hover,
.tests--item-col-raiting-stars--star:hover
  ~ .tests--item-col-raiting-stars--star {
  background: hsla(54, 100%, 50%, 1);
}
.tests--item-col-raiting--voted {
  color: #8e8e8e;
}
.tests--item-col-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tests--item-col-more--btn {
  padding: 8px;
  color: #8e8e8e;
}
.tests--item-col-more-list {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
  position: absolute;
  top: 44px;
  z-index: 1;
  width: 180px;
}
@media only screen and (max-width: 767px) {
  .tests--item-col-more-list {
    width: 150px;
  }
}
.tests--item-col-more-list::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 10px;
  height: 10px;
  box-shadow: 0 0px 0.9px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -5px;
  right: 10px;
}
.tests--item-col-more-list--btn {
  padding: 0 12px;
  width: 100%;
  background: #fff;
  border: none;
  height: 34px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.tests--item-col-more-list--btn:hover {
  background: #eee;
}
.tests--item-col-more-list--btn:active,
.tests--item-col-more-list--btn:focus {
  position: relative;
  background: #eee;
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
}
.tests--item-col-more-list--btn.first {
  border-radius: 2px 2px 0 0;
}
.tests--item-col-more-list--btn.last {
  border-radius: 0 0 2px 2px;
}
.tests--item-col--date {
  font-size: 12px;
  color: #8e8e8e;
}
@media only screen and (max-width: 767px) {
  .tests--item-col--date {
    font-size: 10px;
  }
}

/*
----------
Test create page. Step 1 
----------
*/
.cnt_bd-test-create {
  max-width: 950px;
  margin: 0 auto;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}
.test-create_hd {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.test-create_hd-row {
  display: flex;
  flex-direction: row;
}
.test-create_hd-row1-col1 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.test-create_hd-row1-col2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.test-create_hd-row1-col2-label {
  margin-top: 20px;
}
.test-create_hd-row1-col2--inp.description {
  color: #8e8e8e;
}
.test-create_hd-row2 {
  flex-direction: column;
}
.test-create_bd {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #eee;
}
.test-create_bd-label_select {
  width: 100%;
  max-width: 220px;
}
.test-create_bd-subject,
.test-create_bd-keywords,
.test-create_bd-attachments {
  margin-top: 20px;
}
.test-create_bd-keywords-label--inp .keyword {
  padding: 2px 6px;
  background: hsl(0, 0%, 87%);
  margin: 0 4px;
  border-radius: 4px;
}
.test-create_bd-attachments-label {
  max-width: 120px;
  height: 34px;
  background: hsla(200, 13%, 93%, 1);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.test-create_bd-attachments-label--inp {
  display: none;
}
.test-create_bd-attachments-files {
  max-width: 220px;
  width: 100%;
  display: flex;
  padding-top: 6px;
  flex-direction: column;
}
.test-create_bd-attachments-file {
  height: 40px;
  background: hsla(207, 63%, 54%, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 100%;
  font-weight: 600;
  justify-content: space-between;
}
.test-create_bd-attachments-file .icon {
  font-size: 20px;
  padding: 0 10px;
}
.test-create_bd-attachments-file .txt {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 6px;
}
.test-create_bd-attachments-file .delete {
  height: 100%;
  padding: 0 12px;
  background: transparent;
}
.test_create_bd-questions {
  margin-bottom: 20px;
}
.test_create_bd-question {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.test_create_bd-question-deleted .test_create_bd-question_bd {
  display: none;
}
.test_create_bd-question-deleted-mess {
  display: flex;
  color: #333;
  background: hsla(207, 63%, 54%, 0.1);
  border-radius: 4px;
  padding: 15px 20px;
  line-height: 1;
}
.test_create_bd-question-deleted-mess--btn {
  outline: none;
  margin-left: 12px;
  color: hsl(207, 63%, 54%);
  height: 14px;
}
.test_create_bd-question-deleted-mess--btn:hover,
.test_create_bd-question-deleted-mess--btn:active,
.test_create_bd-question-deleted-mess--btn:focus {
  color: hsla(207, 63%, 54%, 0.7);
  border-bottom: 1px solid;
}
.test_create_bd-question_bd {
  display: flex;
}
.test_create_bd-question-col1 {
  width: 100%;
  max-width: 620px;
}
.test_create_bd-question-col1-row {
  display: flex;
  margin-bottom: 15px;
}
.test_create_bd-question-col1-row--btn {
  padding: 0 10px;
  margin-right: 10px;
}
.test_create_bd-question-col1-row-image {
  display: none;
}
.test_create_bd-question-image-active .test_create_bd-question-col1-row-image {
  display: flex;
}
.test_create_bd-question-col1-image {
  margin-left: 43px;
  position: relative;
  border: 1px solid #eee;
  display: flex;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.test_create_bd-question-img--del-btn {
  height: 34px;
  width: 34px;
  position: absolute;
  right: 0;
  justify-content: center;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.4);
  border-radius: 0;
  color: #fff;
}
.test_create_bd-question-img--del-btn:hover,
.test_create_bd-question-img--del-btn:focus,
.test_create_bd-question-img--del-btn:active {
  background: hsla(0, 0%, 0%, 0.6);
  color: #fff;
}

.test_create_bd-question-img--bcg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}
.test_create_bd-question-img--bcg:hover {
  background: hsla(0, 0%, 0%, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}
.test_create_bd-question--img {
  max-width: 577px;
  max-height: 400px;
  border-radius: 4px;
}
.test_create_bd-question--img:hover {
  background: #000;
}
.test_create_bd-question-answers {
  padding-left: 43px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.test_create_bd-question-answer {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.test-question-answer-active .test_create_bd-question-answer--inp {
  font-weight: 600;
}
.test_create_bd-question-answer--btn {
  padding: 0 10px;
  margin-left: 10px;
}
.test_create_bd-question-col1-row-add-answer {
  display: flex;
  padding-right: 44px;
  justify-content: flex-end;
}
.test_create_bd-question-col2 {
  margin-left: 20px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.test_create_bd-question-col2--btn {
  height: 34px;
  padding: 11px 12px;
  margin-right: 10px;
  background: hsla(200, 13%, 93%, 1);
}
.test_create_bd-question-col2--inp {
  display: none;
}
.test_create_bd-question--select {
  max-width: 230px;
}
.test_create_bd-question--select-option--icon,
.question-add-col2--select-option-icon {
  width: 18px;
  font-size: 16px;
  margin-right: 8px;
}
.test_create_bd-question-add {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.test_create_bd-question-add {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 620px;
}
.test_create_bd-question-add-button {
  position: relative;
  display: flex;
}
.test_create_bd-question-add--btn,
.test_create_bd-question-answer-add--btn {
  font-size: 13px;
  height: 32px;
  padding: 0 12px;
  background: hsla(200, 13%, 93%, 1);
}
.test_create_bd-question-add--btn .txt,
.test_create_bd-question-answer-add--btn .txt {
  margin-left: 6px;
}
.test_create_bd-question-add--btn .txt {
  margin: 0 6px;
}
.test_create_bd-question-add--btn {
  border-radius: 4px 0 0 4px;
  padding-right: 4px;
  z-index: 2;
}
.test_create_bd-question-add--btn:hover {
  position: relative;
  z-index: 3;
}
.test_create_bd-question-add--btn-more {
  height: 32px;
  padding: 0 8px;
  border-radius: 0 4px 4px 0;
  background: hsla(200, 13%, 93%, 1);
  z-index: 2;
}
.test_create_bd-question-add--btn-more-list {
  position: absolute;
  right: -180px;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 160px;
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 13px;
  z-index: 1;
}
.test_create_bd-question-add--btn-more-list::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 10px;
  height: 10px;
  box-shadow: 0 0.3px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 10px;
  left: -5px;
}
.question-add--btn-more-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: #fff;
  border-radius: 4px;
}
.question-add-btn-more {
  width: 280px;
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.question-add-btn-more--inp,
.question-add-btn-more--select {
  width: 34px;
}
.test_create_bd-question-add-btn--more-active .question-add-btn-more--inp,
.test_create_bd-question-add-btn--more-active .question-add-btn-more--select {
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
}
.question-add-btn-more--select-value,
.question-add-btn-more--select-option {
  padding: 0;
  justify-content: center;
}
.question-add-btn-more--select-option--icon {
  margin: 0;
  font-size: 13px;
}
.question-add-btn-more--inp {
  text-align: center;
}
.question-add-btn-more--inp::-webkit-outer-spin-button,
.question-add-btn-more--inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.test-question-answer-checkbox,
.test-question-answer-radio {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.test-question-answer-checkbox--inp,
.test-question-answer-radio--inp {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.test-question-answer-checkbox--inp + label,
.test-question-answer-radio--inp + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.test-question-answer-checkbox--inp + label::before,
.test-question-answer-radio--inp + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.test-question-answer-radio--inp + label::before {
  border-radius: 50%;
}
.test-question-answer-checkbox--inp:not(:disabled):not(:checked)
  + label:hover::before,
.test-question-answer-radio--inp:not(:disabled):not(:checked)
  + label:hover::before {
  border-color: #333;
}
.test-question-answer-checkbox--inp:not(:disabled):active + label::before,
.test-question-answer-radio--inp:not(:disabled):active + label::before {
  background-color: #fff;
}
.test-question-answer-checkbox--inp:focus + label::before,
.test-question-answer-radio--inp:focus + label::before {
  box-shadow: 0 2px 3.6px 0 rgba(0, 0, 0, 0.25),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.2);
}
.test-question-answer-checkbox--inp:checked + label::before,
.test-question-answer-radio--inp:checked + label::before {
  border-color: #8e8e8e;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23333' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.test-question-answer-checkbox--inp:disabled + label::before,
.test-question-answer-radio--inp:disabled + label::before {
  background-color: #e9ecef;
}

/*
----------
Subject backgrounds
----------
*/
/* math */
.subject-bcg-0 {
  background: hsla(200, 13%, 93%, 1);
}
.subject-bcg-1 {
  background: hsl(16, 100%, 55%);
}
.subject-bcg-1-1 {
  background: hsl(16, 100%, 60%);
}
.subject-bcg-1-2 {
  background: hsl(16, 100%, 65%);
}
.subject-bcg-1-3 {
  background: hsl(16, 100%, 70%);
}
.subject-bcg-2 {
  background: hsl(153, 81%, 35%);
}
.subject-bcg-2-1 {
  background: hsl(153, 81%, 40%);
}
.subject-bcg-2-2 {
  background: hsl(153, 81%, 45%);
}
.subject-bcg-2-3 {
  background: hsl(153, 81%, 50%);
}
.subject-bcg-2-4 {
  background: hsl(153, 81%, 55%);
}
.subject-bcg-3 {
  background: hsla(204, 55%, 25%, 1);
}
.subject-bcg-3-1 {
  background: hsla(204, 55%, 30%, 1);
}
.subject-bcg-3-2 {
  background: hsla(204, 55%, 35%, 1);
}
.subject-bcg-3-3 {
  background: hsla(204, 55%, 40%, 1);
}
.subject-bcg-3-4 {
  background: hsla(204, 55%, 45%, 1);
}
.subject-bcg-4 {
  background: hsla(39, 100%, 45%, 1);
}
.subject-bcg-4-1 {
  background: hsla(39, 100%, 50%, 1);
}
